@import 'variables';
@import 'input';
@import 'radio';

.form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, 1fr) 3fr;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  width: 20rem;
  max-height: 32rem;
}

.form__label {
  grid-column: 1;
  align-self: center;
}

.form__fieldset,
.form__input,
.form__textarea,
.form__submit,
.form__submit-button {
  border-radius: $border-radius;
  grid-column: 2;
  border-width: 2px;
}

.form__fieldset,
.form__input,
.form__textarea {
  padding: 0.5rem;
  border-style: inset;
  border-color: $color-border;
}

.form__submit-button {
  border-radius: $border-radius;
  padding: 1rem;
  width: 100%;
  border-color: $color-border;

  &:hover {
    background-color: $color-primary;
    color: $color-background;
  }
}

.form__submit-button--fade-out {
  animation: 1s fadeOut;
  animation-fill-mode: forwards;
  opacity: 0;
  pointer-events: none;
}

.form__submit-button:hover {
  background-color: $color-secondary;
  color: $color-background;
  cursor: pointer;
  border-color: $color-primary;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.form__submit-button--fade-in {
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  opacity: 1;
  pointer-events: unset;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
