body {
  min-height: 100vh;
}

.logo {
  width: 100%;
}

.wrapper {
  max-width: 24rem;
}

.header,
.main,
.aside {  
  @media only screen and (min-width: 64.01rem) {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
}

main,
aside {
  align-self: start;
  height: 100%;
}

.wrapper {
  padding: 1rem;

  @media only screen and (min-width: 42rem) {
    padding: 3rem;
  }
}
