body {
  display: grid;
  min-height: 100vh;
  
  @media only screen and (min-width: 64.01rem) {
    grid-template-columns: 1fr 4rem 1fr 4rem 1fr;
  }
}

.main,
.aside {
  @media only screen and (min-width: 64.01rem) {
    display: flex;
    align-items: center;
  }
}

main,
aside,
.divider__start,
.divider__end {
  align-self: start;
  height: 100%;
}

.wrapper {
  padding: 1rem;

  @media only screen and (min-width: 42rem) {
    padding: 3rem;
  }
}
