input[type=text],
input[type=email] {
  background-color: white;
  padding: .5rem;
}

input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  outline: yellowgreen;
}
