// @import "_normalize";
@import "normalize/import-now";
@import 'variables';
@import 'form';

body {
  align-items: center;
  background-color: $color-background;
  color: $color-primary;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica, Arial", sans-serif;
  font-size: $font-size-default;
  justify-content: center;
  padding: 1rem;

  @media only screen and (min-width: 40rem) {
    align-items: unset;
    flex-direction: row;
  }

  @media (prefers-color-scheme: dark) {
    background-color: $color-secondary;
    color: $color-background;
  }
}


.main,
.aside {
  min-width: 20em;
}

@media only screen and (min-width: 40rem) {
  aside {
    padding-top: 4rem;
  }
}

a:-webkit-any-link {
  color: $color-primary;
  
  @media (prefers-color-scheme: dark) {
    color: $color-background;
  }
}
