@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .a4-page {
    width: 210mm;
    height: 297mm;
    overflow: hidden;
  }
  body {
    margin: 0;
    padding: 0;
  }
}

@keyframes animationRing {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes animationFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes animation-slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@layer utilities {
  .animation-ring {
    animation: animationRing 1s ease-in-out;
  }
  .animation-fade-in {
    animation: animationFadeIn 1s ease-out forwards;
  }
  .animation-slide-down {
    animation: animationSlideDown 0.5s ease-in-out forwards;
  }
}
